{% extends "base.html" %}

{% block title %}Poetry{% endblock %}

{% block content_title %}
  {% if search %}
    Search "{{ search }}"
  {% else %} 
  <span id="TheWordPoetry" >
    P o e t r y 
   </span>
  {% endif %}
{% endblock %}

{% block content %}
  {% for entry in object_list %}
      {% if search %}
        {% set entry = entry.entry %}
      {% endif %}
    <a class="sh-entry-link" href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
      <div class="sh-entry">
        <h3 style="font-size:30px; margin-top: 10px ">
            {{ entry.title }}
        </h3>
        <span style="font-size: 15px; color:#4d4dff"
        <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %G:%I%p') }}</p>
        </span>
      </div>
    </a>
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
