{% extends "base.html" %}

{% block title %}Poetry{% endblock %}

{% block content_title %}
  {% if search %}
    Search "{{ search }}"
  {% else %} 
    Poetry 
  {% endif %}
{% endblock %}

{% block content %}
  {% for entry in object_list %}
      {% if search %}
        {% set entry = entry.entry %}
      {% endif %}
    <a class="sh-entry-link" href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
      <div class="sh-entry">
        <h3>
            {{ entry.title }}
        </h3>
        <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %G:%I%p') }}</p>
      </div>
    </a>
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
